In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\lab16-23\\Desktop\\Hitesh\\mg.csv")

In [3]:
df.head

<bound method NDFrame.head of          Price Carpet Area Bedrooms Builder Paid User  \
0     50.5 Lac           N        2     NaN         N
1       70 Lac           N        2     NaN         N
2       40 Lac         NaN        2     NaN         N
3       40 Lac         NaN        2     NaN         N
4      1.20 Cr         NaN        3     NaN         N
...        ...         ...      ...     ...       ...
2411    22 Lac         NaN        1     NaN         N
2412    49 Lac         NaN        2     NaN         N
2413    60 Lac           N        3     NaN         N
2414    80 Lac         NaN        2     NaN         N
2415    78 Lac           N        3     NaN         N

                        Locality      Property Type User Type Prime Location  \
0     Mallampet, Outer Ring Road          Apartment     Owner              Y
1     Pragathi Nagar, Kukatpally          Apartment     Owner              Y
2                            NaN          Apartment     Owner              Y
3                   Bandam Kommu          Apartment     Owner              Y
4      Narsingi, Outer Ring Road          Apartment     Owner              Y
...                          ...                ...       ...            ...
2411                         NaN          Apartment     Owner              Y
2412              Bandari Layout          Apartment     Owner              Y
2413                         NaN          Apartment     Owner              Y
2414                  Tatianaram  Residential House     Owner              Y
2415                         NaN              Villa     Owner              Y

                               Agent  \
0                          suresh kv
1                            sandeep
2                            Shankar
3                           Rajendra
4                       Divya Kurava
...                              ...
2411                           Akhil
2412             nalam surya sandeep
2413                           anjan
2414                     Anand Kumar
2415  Busa. Lakshminarayana Narayana

                                                   Link  \
0     https://www.magicbricks.com/propertyDetails/2-...
1     https://www.magicbricks.com/propertyDetails/2-...
2     https://www.magicbricks.com/propertyDetails/2-...
3     https://www.magicbricks.com/propertyDetails/2-...
4     https://www.magicbricks.com/propertyDetails/3-...
...                                                 ...
2411  https://www.magicbricks.com/propertyDetails/1-...
2412  https://www.magicbricks.com/propertyDetails/2-...
2413  https://www.magicbricks.com/propertyDetails/3-...
2414  https://www.magicbricks.com/propertyDetails/2-...
2415  https://www.magicbricks.com/propertyDetails/3-...

                    Prop ID                                              Other
0     domcache_srp_54918323  ***carpet area*1064 sqft****status**\t\t\t\t\t...
1     domcache_srp_54918613  ***carpet area*1155 sqft****status**\t\t\t\t\t...
2     domcache_srp_53852017  ***carpet area*1000 sqft****status*Ready to Mo...
3     domcache_srp_39892243  ***carpet area*1000 sqft****status*Ready to Mo...
4     domcache_srp_54914619  ***super area*1800 sqft****status*Ready to Mov...
...                     ...                                                ...
2411  domcache_srp_52710987  ***carpet area*400 sqft****status*Ready to Mov...
2412  domcache_srp_55111489  ***carpet area*1100 sqft****status*Ready to Mo...
2413  domcache_srp_37030377  ***super area*1059 sqft*****floor*2 out of 6 f...
2414  domcache_srp_51378722  ***super area*155 sqyrd****status*Ready to Mov...
2415  domcache_srp_50673536  ***carpet area*2008 sqft****status**\t\t\t\t\t...

[2416 rows x 13 columns]>

In [5]:
df.tail

<bound method NDFrame.tail of          Price Carpet Area Bedrooms Builder Paid User  \
0     50.5 Lac           N        2     NaN         N
1       70 Lac           N        2     NaN         N
2       40 Lac         NaN        2     NaN         N
3       40 Lac         NaN        2     NaN         N
4      1.20 Cr         NaN        3     NaN         N
...        ...         ...      ...     ...       ...
2411    22 Lac         NaN        1     NaN         N
2412    49 Lac         NaN        2     NaN         N
2413    60 Lac           N        3     NaN         N
2414    80 Lac         NaN        2     NaN         N
2415    78 Lac           N        3     NaN         N

                        Locality      Property Type User Type Prime Location  \
0     Mallampet, Outer Ring Road          Apartment     Owner              Y
1     Pragathi Nagar, Kukatpally          Apartment     Owner              Y
2                            NaN          Apartment     Owner              Y
3                   Bandam Kommu          Apartment     Owner              Y
4      Narsingi, Outer Ring Road          Apartment     Owner              Y
...                          ...                ...       ...            ...
2411                         NaN          Apartment     Owner              Y
2412              Bandari Layout          Apartment     Owner              Y
2413                         NaN          Apartment     Owner              Y
2414                  Tatianaram  Residential House     Owner              Y
2415                         NaN              Villa     Owner              Y

                               Agent  \
0                          suresh kv
1                            sandeep
2                            Shankar
3                           Rajendra
4                       Divya Kurava
...                              ...
2411                           Akhil
2412             nalam surya sandeep
2413                           anjan
2414                     Anand Kumar
2415  Busa. Lakshminarayana Narayana

                                                   Link  \
0     https://www.magicbricks.com/propertyDetails/2-...
1     https://www.magicbricks.com/propertyDetails/2-...
2     https://www.magicbricks.com/propertyDetails/2-...
3     https://www.magicbricks.com/propertyDetails/2-...
4     https://www.magicbricks.com/propertyDetails/3-...
...                                                 ...
2411  https://www.magicbricks.com/propertyDetails/1-...
2412  https://www.magicbricks.com/propertyDetails/2-...
2413  https://www.magicbricks.com/propertyDetails/3-...
2414  https://www.magicbricks.com/propertyDetails/2-...
2415  https://www.magicbricks.com/propertyDetails/3-...

                    Prop ID                                              Other
0     domcache_srp_54918323  ***carpet area*1064 sqft****status**\t\t\t\t\t...
1     domcache_srp_54918613  ***carpet area*1155 sqft****status**\t\t\t\t\t...
2     domcache_srp_53852017  ***carpet area*1000 sqft****status*Ready to Mo...
3     domcache_srp_39892243  ***carpet area*1000 sqft****status*Ready to Mo...
4     domcache_srp_54914619  ***super area*1800 sqft****status*Ready to Mov...
...                     ...                                                ...
2411  domcache_srp_52710987  ***carpet area*400 sqft****status*Ready to Mov...
2412  domcache_srp_55111489  ***carpet area*1100 sqft****status*Ready to Mo...
2413  domcache_srp_37030377  ***super area*1059 sqft*****floor*2 out of 6 f...
2414  domcache_srp_51378722  ***super area*155 sqyrd****status*Ready to Mov...
2415  domcache_srp_50673536  ***carpet area*2008 sqft****status**\t\t\t\t\t...

[2416 rows x 13 columns]>

In [7]:
df.shape

(2416, 13)

In [8]:
df.columns

Index(['Price', 'Carpet Area', 'Bedrooms', 'Builder', 'Paid User', 'Locality',
       'Property Type', 'User Type', 'Prime Location', 'Agent', 'Link',
       'Prop ID', 'Other'],
      dtype='object')

In [9]:
df.sample

<bound method NDFrame.sample of          Price Carpet Area Bedrooms Builder Paid User  \
0     50.5 Lac           N        2     NaN         N
1       70 Lac           N        2     NaN         N
2       40 Lac         NaN        2     NaN         N
3       40 Lac         NaN        2     NaN         N
4      1.20 Cr         NaN        3     NaN         N
...        ...         ...      ...     ...       ...
2411    22 Lac         NaN        1     NaN         N
2412    49 Lac         NaN        2     NaN         N
2413    60 Lac           N        3     NaN         N
2414    80 Lac         NaN        2     NaN         N
2415    78 Lac           N        3     NaN         N

                        Locality      Property Type User Type Prime Location  \
0     Mallampet, Outer Ring Road          Apartment     Owner              Y
1     Pragathi Nagar, Kukatpally          Apartment     Owner              Y
2                            NaN          Apartment     Owner              Y
3                   Bandam Kommu          Apartment     Owner              Y
4      Narsingi, Outer Ring Road          Apartment     Owner              Y
...                          ...                ...       ...            ...
2411                         NaN          Apartment     Owner              Y
2412              Bandari Layout          Apartment     Owner              Y
2413                         NaN          Apartment     Owner              Y
2414                  Tatianaram  Residential House     Owner              Y
2415                         NaN              Villa     Owner              Y

                               Agent  \
0                          suresh kv
1                            sandeep
2                            Shankar
3                           Rajendra
4                       Divya Kurava
...                              ...
2411                           Akhil
2412             nalam surya sandeep
2413                           anjan
2414                     Anand Kumar
2415  Busa. Lakshminarayana Narayana

                                                   Link  \
0     https://www.magicbricks.com/propertyDetails/2-...
1     https://www.magicbricks.com/propertyDetails/2-...
2     https://www.magicbricks.com/propertyDetails/2-...
3     https://www.magicbricks.com/propertyDetails/2-...
4     https://www.magicbricks.com/propertyDetails/3-...
...                                                 ...
2411  https://www.magicbricks.com/propertyDetails/1-...
2412  https://www.magicbricks.com/propertyDetails/2-...
2413  https://www.magicbricks.com/propertyDetails/3-...
2414  https://www.magicbricks.com/propertyDetails/2-...
2415  https://www.magicbricks.com/propertyDetails/3-...

                    Prop ID                                              Other
0     domcache_srp_54918323  ***carpet area*1064 sqft****status**\t\t\t\t\t...
1     domcache_srp_54918613  ***carpet area*1155 sqft****status**\t\t\t\t\t...
2     domcache_srp_53852017  ***carpet area*1000 sqft****status*Ready to Mo...
3     domcache_srp_39892243  ***carpet area*1000 sqft****status*Ready to Mo...
4     domcache_srp_54914619  ***super area*1800 sqft****status*Ready to Mov...
...                     ...                                                ...
2411  domcache_srp_52710987  ***carpet area*400 sqft****status*Ready to Mov...
2412  domcache_srp_55111489  ***carpet area*1100 sqft****status*Ready to Mo...
2413  domcache_srp_37030377  ***super area*1059 sqft*****floor*2 out of 6 f...
2414  domcache_srp_51378722  ***super area*155 sqyrd****status*Ready to Mov...
2415  domcache_srp_50673536  ***carpet area*2008 sqft****status**\t\t\t\t\t...

[2416 rows x 13 columns]>

In [10]:
df.dtypes

Price             object
Carpet Area       object
Bedrooms          object
Builder           object
Paid User         object
Locality          object
Property Type     object
User Type         object
Prime Location    object
Agent             object
Link              object
Prop ID           object
Other             object
dtype: object

In [11]:
df['Bedrooms'].nunique()

11

In [12]:
df['Bedrooms'].unique()

array(['2', '3', '4', '1', '5', nan, '6', '8', '> 10', '10', '7', '9'],
      dtype=object)

In [13]:
df['Bedrooms'].value_counts()

2       1405
3        704
4        127
1        108
6         25
5         20
8          7
7          5
> 10       3
10         3
9          3
Name: Bedrooms, dtype: int64

In [14]:
df['Bedrooms'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2411    False
2412    False
2413    False
2414    False
2415    False
Name: Bedrooms, Length: 2416, dtype: bool

In [15]:
df['Bedrooms'].isna().sum()

6

In [16]:
df['price'] = df['Price'].str.split(' ').apply(lambda x: float(x[0]) * 100 if x[1] == 'Cr' else float(x[0]))

In [17]:
df['areasize'] = df['Other'].str.extract(r'\*(\d+)\s+')

In [18]:
df['areatype'] = df['Other'].str.extract(r'(carpet area|super area)')

In [19]:
df['areaunit'] = df['Other'].str.extract(r'(sqft|sqyrd)')

In [20]:
df['areasize'] = pd.to_numeric(df['areasize'])

In [21]:
df['areasize'] = df.apply(lambda row: row['areasize']* (9 if row['areaunit'] == 'sqyrd' else 1), axis=1)

In [22]:
df['area'] = df['Locality'].str.split(',').str[0]

In [23]:
df = df[['area', 'areasize', 'areatype', 'Bedrooms', 'price']]

In [24]:
df.to_csv('workdata.csv', index = False)

In [25]:
df[df.duplicated()]

                 area  areasize     areatype Bedrooms  price
306   Vanasthalipuram    1170.0  carpet area        2   83.0
370         Thumkunta    2242.0  carpet area        6   97.0
454            Kollur    1250.0  carpet area        2   50.0
749          Boduppal    1000.0  carpet area        2   75.0
851      Mayuri Nagar    1075.0   super area        2   61.0
1121  Jagadgiri Gutta    1200.0   super area        3   52.0
1238        Tukkuguda    1000.0   super area        2   75.0
1291          Kokapet    1555.0   super area        3  101.0
1521       Beeramguda    1050.0   super area        2   35.0
1649       Bachupally    1535.0   super area        2   76.8
2045      Puppalaguda    1583.0  carpet area        3  127.0
2126        Manikonda    1150.0   super area        2   65.0
2158         Rampally    1100.0  carpet area        2   65.0
2272       Bachupally    1000.0  carpet area        2   45.0
2362              NaN     100.0  carpet area        2   50.0

In [26]:
df.duplicated().sum()

15

In [32]:
df.drop_duplicates(inplace=False)

                area  areasize     areatype Bedrooms  price
0          Mallampet    1064.0  carpet area        2   50.5
1     Pragathi Nagar    1155.0  carpet area        2   70.0
2                NaN    1000.0  carpet area        2   40.0
3       Bandam Kommu    1000.0  carpet area        2   40.0
4           Narsingi    1800.0   super area        3  120.0
...              ...       ...          ...      ...    ...
2411             NaN     400.0  carpet area        1   22.0
2412  Bandari Layout    1100.0  carpet area        2   49.0
2413             NaN    1059.0   super area        3   60.0
2414      Tatianaram    1395.0   super area        2   80.0
2415             NaN    2008.0  carpet area        3   78.0

[2401 rows x 5 columns]

In [34]:
df.dropna( inplace = False)

                area  areasize     areatype Bedrooms  price
0          Mallampet    1064.0  carpet area        2   50.5
1     Pragathi Nagar    1155.0  carpet area        2   70.0
3       Bandam Kommu    1000.0  carpet area        2   40.0
4           Narsingi    1800.0   super area        3  120.0
5            Chintal    1150.0  carpet area        2   40.0
...              ...       ...          ...      ...    ...
2407     Begum Bazar      80.0   super area        5    9.9
2408      Dammaiguda     999.0   super area        2   55.0
2409        Kondapur    1623.0   super area        3  135.0
2412  Bandari Layout    1100.0  carpet area        2   49.0
2414      Tatianaram    1395.0   super area        2   80.0

[2119 rows x 5 columns]

In [36]:
df.dropna(subset = ['area'], inplace = False)

                area  areasize     areatype Bedrooms  price
0          Mallampet    1064.0  carpet area        2   50.5
1     Pragathi Nagar    1155.0  carpet area        2   70.0
3       Bandam Kommu    1000.0  carpet area        2   40.0
4           Narsingi    1800.0   super area        3  120.0
5            Chintal    1150.0  carpet area        2   40.0
...              ...       ...          ...      ...    ...
2407     Begum Bazar      80.0   super area        5    9.9
2408      Dammaiguda     999.0   super area        2   55.0
2409        Kondapur    1623.0   super area        3  135.0
2412  Bandari Layout    1100.0  carpet area        2   49.0
2414      Tatianaram    1395.0   super area        2   80.0

[2119 rows x 5 columns]

In [37]:
df.dropna(subset = ['areasize'], inplace = False)

                area  areasize     areatype Bedrooms  price
0          Mallampet    1064.0  carpet area        2   50.5
1     Pragathi Nagar    1155.0  carpet area        2   70.0
3       Bandam Kommu    1000.0  carpet area        2   40.0
4           Narsingi    1800.0   super area        3  120.0
5            Chintal    1150.0  carpet area        2   40.0
...              ...       ...          ...      ...    ...
2407     Begum Bazar      80.0   super area        5    9.9
2408      Dammaiguda     999.0   super area        2   55.0
2409        Kondapur    1623.0   super area        3  135.0
2412  Bandari Layout    1100.0  carpet area        2   49.0
2414      Tatianaram    1395.0   super area        2   80.0

[2119 rows x 5 columns]

In [38]:
df.dtypes

area         object
areasize    float64
areatype     object
Bedrooms     object
price       float64
dtype: object

In [39]:
df['Bedrooms'] = df['Bedrooms'].interpolate()

<ipython-input-39-58394872edff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bedrooms'] = df['Bedrooms'].interpolate()

In [42]:
df['Bedrooms'] = pd.to_numeric(df['Bedrooms'],  errors='coerce')

<ipython-input-42-262a8f6856eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bedrooms'] = pd.to_numeric(df['Bedrooms'],  errors='coerce')

In [43]:
df['Bedrooms'].unique()

array([ 2.,  3.,  4.,  1.,  5.,  6., nan,  8., 10.,  7.,  9.])

In [44]:
df['Bedrooms'] = df['Bedrooms'].interpolate()

<ipython-input-44-58394872edff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Bedrooms'] = df['Bedrooms'].interpolate()

In [45]:
df['Bedrooms'].isna().sum()

0

In [47]:
df.describe()

           areasize     Bedrooms        price
count   2119.000000  2119.000000  2119.000000
mean    1254.316659     2.464606    69.298443
std      672.691241     0.936069    30.185432
min       22.000000     1.000000     2.500000
25%      980.000000     2.000000    45.000000
50%     1160.000000     2.000000    65.000000
75%     1434.000000     3.000000    88.000000
max    16200.000000    10.000000   149.000000

In [48]:
g1 = df.groupby('areatype')
carpet = g1.get_group('carpet area')
super = g1.get_group('super area')
carpet
super
carpet.price
carpet.price.mean()


g = df.groupby('area')
g1 = g.get_group('Mallampet')
g1.mean()

areasize    1053.8
Bedrooms       2.0
price         39.7
dtype: float64